# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
canbus_uuid: 68519c204f29

[adxl345]
cs_pin: EBBCan: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,z,y



[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16

rotation_distance: 5.665397 #known calculated rotation distance
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035

sensor_type:MAX31865
sensor_pin: EBBCan:PA4
heater_pin: EBBCan: PB13
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

max_extrude_only_distance: 101
min_extrude_temp: 10

min_temp: 0
max_temp: 360

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.7
sense_resistor: 0.11
stealthchop_threshold: 100

# Air Filtration/Exhaust Fan Control
# https://github.com/SoftFever/OrcaSlicer/wiki/air-filtration
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan
[fan_generic fan0]
pin: EBBCan: PA0
cycle_time: 0.01
hardware_pwm: false

[gcode_macro M106]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% set speed = (params.S|float / 255 if params.S is defined else 1.0) %}
    {% if (fan == 'fan3' and 'fan_generic fan3' in printer) %}
        {% if speed == 0.0 %}
            AIR_FILTER_OFF
        {% else %}
            AIR_FILTER S={speed}
        {% endif %}
    {% elif fan == 'fan0' %}
        SET_FAN_SPEED FAN={fan} SPEED={speed}
    {% endif %}

[gcode_macro M107]
gcode:
    {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
    {% if (fan == 'fan3' and 'fan_generic fan3' in printer) %}
        AIR_FILTER_OFF
    {% elif fan == 'fan0' %}
        SET_FAN_SPEED FAN={fan} SPEED=0.0
    {% endif %}

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 70.0
max_power: 1
kick_start_time: 0.5
tachometer_pin: ^EBBCan:PB9
tachometer_ppr: 2
# tachometer_poll_interval: 0.0015
# tachometer_poll_interval: 0.0007

#tachometer_pin: ^host:gpiochip0/gpio27
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin: !host:gpiochip0/gpio5


#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3
