#[include dryer.cfg]
[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_00000E000843565036343620-if00
restart_method: command

[controller_fan ExpBox_Fan]
pin: expander:PA0
shutdown_speed: 0
cycle_time: 0.01
idle_timeout: 5
heater: Chamber_Heater
stepper:

# this is the exhaust fan
# comment out it if you don't have exhaust fan
[fan_generic fan3]
pin: expander:PA1
cycle_time: 0.01
hardware_pwm: false

[heater_generic Chamber_Heater]
gcode_id: expPA3
heater_pin: expander:PA3
max_power: 1.0
# sensor_type: Generic 3950
# sensor_pin: expander:PA6
sensor_type: ntc_10k
sensor_pin: PA3
min_temp: 0
max_temp: 75
smooth_time: 3.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed to reduce the impact of measurement noise. The default
#   is 1 seconds.
control: watermark
max_delta: 1.0
#   On 'watermark' controlled heaters this is the number of degrees in
#   Celsius above the target temperature before disabling the heater
#   as well as the number of degrees below the target before
#   re-enabling the heater. The default is 2 degrees Celsius.
pwm_cycle_time: 0.01666667
#   Time in seconds for each software PWM cycle of the heater. It is
#   not recommended to set this unless there is an electrical
#   requirement to switch the heater faster than 10 times a second.
#   The default is 0.100 seconds.

[verify_heater Chamber_Heater]
max_error: 1000000
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 600
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 1
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

# Status LED lights when klipper connects
[static_digital_output onboardLED]
pins: !expander:PA4

# [neopixel expanderPixel]
# pin: expander:PB1
# chain_count: 1
# initial_RED: 0.9
# initial_GREEN: 0.3
# initial_BLUE: 0.0

# [output_pin mosfet2]
# pin: expander:PA2
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

# [output_pin Chamber_Heater]
# pin: expander:PA3
# pwm: true
# cycle_time: 0.01666667
# value: 0
# shutdown_value: 0

# [output_pin Exhaust_Fan]
# pin: expander:PA1
# pwm: true
# cycle_time: 0.010
# value: 0
# shutdown_value: 0

[temperature_sensor Chamber]
sensor_type: Generic 3950 # ntc100_b3950_custom # NTC 100K MGB18-104F39050L32
sensor_pin: expander:PA6
gcode_id: ET0

# [temperature_sensor expander_t1]
# sensor_type: Generic 3950
# sensor_pin: expander:PA5
# gcode_id: ET1


# Other Pins
# T0 = expander:PA6
# T1 = expander:PA5
# GPIO = expander:PA7

#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"
